/* You can add global styles to this file, and also import other style files */
@import 'varialables';
@import './_fonts.css';

html, body {
  min-height: 100vh;
}

.animated-link:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.animated-link:hover:after,
.active-link:after {
  width: 100%;
  left: 0;
}

.animated-link-black:after {
  background: #000000 !important;
}

.increase-animate {
  transition: 0.5s; /* Время эффекта */
  &:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
}

.is-black-font {
  color: #000000 !important;
}

.red-border {
  border: 1px dotted red;
}
